# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Añadidos por Luis y Angel
*/ScanSky_seq
*/ScanSky_seq_debug
*/ScanSky_seq_write
*/ScanSky_OpenMP
*/ScanSky_OpenMP_debug
*/ScanSky_OpenMP_write
